#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
    font-family: 'Times New Roman', Times, serif;     
}

title {
    text-align: center;
}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.986);
    -ms-text-size-adjust: inherit;
}

h2 {
    font-size: 95%;
    color: rgb(0, 0, 0);
  }

p {
    font-size: 90%;
    color: white;
  }
  
  #gradientBackground {
    background-repeat: no-repeat;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/12771.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  img {
      color: white;
      font-size: 95%;
  }
